<!------     flex-cols2 ---------- -->
<div id="flex-cols2">

    <!------     svg-container ---------- -->
    <div id="svg-container">
        <svg viewBox="0 0 1500 1000" version="1.1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink">

            <image xlink:href="/img/memes/jawa.jpg" x="0" y="0" />
            <text x="100" y="250" fill="skyblue" font-size="60pt" text-decoration="underline">Utini !!</text>
        </svg>
    </div>

    <!------     form-container ---------- -->
    <div id="form-container">
        <form>
            <label for="title">
                <h1>title</h1>
            </label>
            <br>
            <input name="title" id="title" value="React is easy">
            <hr>
            <label for="image">
                <h2>Image</h2>
            </label>
            <br>
            <select name="image" id="image">
                <option value="-1">No image</option>
            </select>

            <hr>
            <label for="text">
                <h2>text</h2>
            </label>
            <br>
            <input name="text" id="text" type="text" value="Le js m'a tué">

            <br>
            <label for="x">
                <h2 style="display: inline;">x :</h2>
            </label>
            <input class="small-number" name="x" id="x" type="number" value="121">

            <label for="y">
                <h2 style="display: inline;">y :</h2>
            </label>
            <input class="small-number" name="y" id="y" type="number" value="65">

            <hr>
            <h2>Decorations</h2>
            <label for="color">
                <h2 style="display: inline;">color :</h2>
            </label>
            <input name="color" id="color" type="color" value="#FFFFFF">

            <br>
            <label for="fontSize">
                <h2 style="display: inline;">font-size :</h2>
            </label>
            <input class="small-number" name="fontSize" id="fontSize" type="number" min="0" value="73">px

            <br>
            <label for="fontWeight">
                <h2 style="display: inline;">font-weight :</h2>
            </label>
            <input class="small-number" name="fontWeight" id="fontWeight" type="number" min="100" step="100" max="900"
                value="900">
            <br>
            <input name="underline" id="underline" type="checkbox">&nbsp;
            <label for="underline">
                <h2 style="display: inline;">underline</h2>
            </label>
            &nbsp;
            <h2 style="display: inline;">/</h2>
            &nbsp;
            <label for="italic">
                <h2 style="display: inline;">italic</h2>
            </label>&nbsp;
            <input name="italic" id="italic" type="checkbox">
            <hr>
            <br>
            <label for="frameSizeX">
                <h2 style="display: inline;">frame size X :</h2>
            </label>
            <input class="small-number" name="frameSizeX" id="frameSizeX" type="number" min="0" value="0">px
            <br>
            <label for="frameSizeY">
                <h2 style="display: inline;">frame size y :</h2>
            </label>
            <input class="small-number" name="frameSizeY" id="frameSizeY" type="number" min="0" value="0">px
            <br>

            <hr>
            <br>
            <button type="reset" class="btn btn-warning">Reset</button>
            <button type="submit" class="btn btn-primary">Submit</button>

        </form>

    </div>
</div>